/* Подключаем шрифты */
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/web/ptsans.woff2') format('woff2'),
    url('../fonts/web/ptsans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/web/ptsansbold.woff2') format('woff2'),
    url('../fonts/web/ptsansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
